<%- include("./partials/header")%>
<%- include("./partials/nav")%>
<div class="w-[90%] rounded mx-auto bg-slate-300 mt-10  p-10">
    <h1 class="text-2xl mb-4">Blog Description</h1>
    
        <div class="w-full flex mb-5 items-center gap-7">
            <img class="w-1/2 h-1/2 rounded " src="<%= blogdescriptions.url%>" alt="">
            <div >
                <h1 class="text-xl font-bold mb-2"><%= blogdescriptions.title%></h1>
                <h3 class=" font-bold mb-2"><%= blogdescriptions.createdAt.toString().slice(0,16)%></h3>
                <p class="text-lg "><%= blogdescriptions.description%></p>
            </div>
        </div>
        
    
</div>
<%- include("./partials/footer")%>
